/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Logo */
.logo-wrapper {
    position: relative;
    margin-bottom: 30px;
}

.logo-text {
    font-size: 48px;
    letter-spacing: 4px;
    font-weight: 700;
    position: relative;
    z-index: 2;
}

/* .dot-circle {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: radial-gradient(#444 1px, transparent 1px);
  background-size: 6px 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
} */

/* Text */
.subtitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 40px;
    color: #eaeaea;
}

.highlight {
    color: #f4a640;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    line-height: 54px;
}

/* Buttons */
.btn-group {
    display: flex;
    gap: 30px;
}

.btn {
    position: relative;
    background: #f4a640;
    color: #000;
    padding: 16px 32px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    box-shadow: 0 8px 25px rgba(225, 221, 217, 0.35);
    will-change: transform;
}


/* light sweep */
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent 30%,
            rgba(255, 255, 255, 0.5),
            transparent 70%);
    transition: left 0.6s ease;
}

.btn:hover::before {
    left: 120%;
}

/* lift + glow */
.btn:hover {
  box-shadow: 0 15px 40px rgba(154, 194, 232, 0.7);
}


/* arrow motion */
.arrow {
    display: inline-flex;
    align-items: center;
}

.icon-arrow {
    width: 22px;
    height: auto;
    display: inline-block;
    transition: transform 0.3s ease;
}

.btn:hover .icon-arrow {
    transform: translate(6px, -6px);
}